<body>
<b>The core NN implementation</b> - example usage:
<pre>

	
			//1. set up structure
			InputLayer input = new InputLayer(2,"input",true);
			HiddenLayer hidden = new HiddenLayer(2,"hidden",true);		
			OutputLayer output = new OutputLayer(1,"output");
			BackPropagationNetwork me = new BackPropagationNetwork(input,new HiddenLayer[]{hidden},output);					
				
			//2. set up some data patterns..
			SetOfPatterns pats = new SetOfPatterns();
			pats.addPattern(new Pattern (new float[]{0,0}, new float[]{0}));
			pats.addPattern(new Pattern (new float[]{0,1}, new float[]{1}));
			pats.addPattern(new Pattern (new float[]{1,0}, new float[]{1}));
			pats.addPattern(new Pattern (new float[]{1,1}, new float[]{0}));
			
			//3. train	
			int numTrials= me.train(pats.getPatterns(),desiredError, maxTrials);		
			System.out.println("took "+numTrials+" to reach error of "+desiredError);			
		
			//4. test data is same as test data
			TestResults tr = me.test(pats.getPatterns(),pats.getAllPossOutputs());
			
			System.out.println(tr.toString());
</pre>

</body>