<body>
Graphing module.<BR>
<p>
Example use:<BR>
<pre>
			Point[] points = new Point[4];
			points[0] = new Point (0.5f,0.8f);
			points[1] = new Point (3f,0.3f);
			points[2] = new Point (17f,0.7f);
			points[3] = new Point (28f,0.2f);				
			Line a = new Line(points,"label1",Color.BLUE);		
			
			Line[] users = new Line[]{katieline};
						
			Graph g = new Graph(users, 30,1, 1f, 0.1f, "Test title", "xaxis", "yaxis");
			g.plot();

<pre/>
</p>
</body>